[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = "*"
ruff = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
fastapi-sessions = "*"
redis = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
